.contacts {
    margin-top: 120px;
    margin-bottom: 150px;

    .contacts__title {
        margin-bottom: 60px;
        font-weight: 900;
        font-size: 33px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2A2D46;
    }


    .contacts__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:first-child) {
            margin-top: 55px;
        }

        .contacts__row-text {
            width: 400px;

            .contacts__row-text-title {
                font-weight: 900;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0.03em;
                color: #2A2D46;
            }

            .contacts__row-text-subtitle {
                font-size: 16px;
                line-height: 1.3;
                color: #000000;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
 
        .contacts__row-map {
            
        }
    }
}
