* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 83%;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .container {
    width: 100%;
  }
}

.hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__nav {
  -webkit-tap-highlight-color: #00000000;
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .header__nav {
    margin-top: 27px;
  }
}
@media (max-width: 790px) {
  .header__nav {
    margin-bottom: 60px;
  }
}

.header__nav-button {
  display: none;
}
.header__nav-button .menu-icon-wrapper {
  height: 30px;
  width: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-button .menu-icon-wrapper .menu-icon {
  position: relative;
  width: 23px;
  height: 4px;
  background-color: #000;
}
.header__nav-button .menu-icon-wrapper .menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.header__nav-button .menu-icon-wrapper .menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.header__nav-button .menu-icon-wrapper .menu-icon.menu-icon-active {
  width: 30px;
  background-color: transparent;
}
.header__nav-button .menu-icon-wrapper .menu-icon.menu-icon-active::before {
  width: 30px;
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header__nav-button .menu-icon-wrapper .menu-icon.menu-icon-active::after {
  width: 30px;
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
@media (max-width: 980px) {
  .header__nav-button {
    display: block;
  }
}

.header__logo {
  -webkit-tap-highlight-color: #00000000;
  cursor: pointer;
  transition: 0.3s;
}
.header__logo img {
  width: 182px;
}
@media (max-width: 1150px) {
  .header__logo {
    display: flex;
  }
  .header__logo img {
    width: 132px;
  }
}
@media (max-width: 980px) {
  .header__logo {
    display: flex;
  }
  .header__logo a {
    margin-left: 30px;
  }
}

.header__nav-link a {
  text-decoration: none;
  color: #121212;
  font-size: 14px;
  transition: 0.3s;
}
.header__nav-link a:not(:first-child) {
  margin-left: 29px;
}
.header__nav-link a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #121212;
}
@media (max-width: 1150px) {
  .header__nav-link a {
    font-size: 13px;
    transition: 0.3s;
  }
  .header__nav-link a:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 980px) {
  .header__nav-link {
    height: 0;
    z-index: 9;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000e6;
    overflow: hidden;
    transition: 0.3s;
  }
  .header__nav-link a {
    color: #fff;
    margin-left: 0;
  }
  .header__nav-link a:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
  .header__nav-link a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
  }
}

@media (max-width: 980px) {
  .nav-active {
    height: auto;
    padding: 20px 0;
  }
}

.header__nav-cart {
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.header__nav-cart a {
  display: flex;
  text-decoration: none;
}
.header__nav-cart img {
  width: 27px;
  margin-right: 1.8px;
}
.header__nav-cart p {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #941616;
}
.header__nav-cart:hover {
  margin-bottom: 15px;
}
@media (max-width: 1150px) {
  .header__nav-cart img {
    width: 23px;
    margin-right: 1.8px;
  }
  .header__nav-cart p {
    font-size: 13px;
  }
}

.header__promo {
  min-height: 450px;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 790px) {
  .header__promo {
    min-height: 718px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 430px) {
  .header__promo {
    min-height: 660px;
  }
}
@media (max-width: 380px) {
  .header__promo {
    min-height: 628px;
  }
}

.header__promo-text {
  width: 521px;
}
.header__promo-text h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #2A2D46;
}
.header__promo-text p {
  margin-top: 40px;
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #121212;
}
.header__promo-text a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 40px;
  padding: 17px 33px;
  background: #941616;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
.header__promo-text a:hover {
  background: #121212;
}
@media (max-width: 1150px) {
  .header__promo-text {
    width: 370px;
  }
  .header__promo-text h1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .header__promo-text p {
    margin-top: 20px;
    width: auto;
    font-size: 13px;
  }
  .header__promo-text a {
    margin-top: 20px;
    padding: 13px 29px;
  }
}
@media (max-width: 790px) {
  .header__promo-text {
    width: 445px;
  }
  .header__promo-text h1 {
    font-weight: 900;
    font-size: 31px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .header__promo-text p {
    margin-top: 12px;
    width: auto;
    font-size: 14px;
  }
  .header__promo-text a {
    margin-top: 20px;
    padding: 8px 20px;
  }
}
@media (max-width: 500px) {
  .header__promo-text {
    width: 300px;
  }
  .header__promo-text h1 {
    font-weight: 900;
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .header__promo-text p {
    margin-top: 11px;
    width: auto;
    font-size: 13px;
  }
  .header__promo-text a {
    margin-top: 20px;
    padding: 8px 20px;
  }
}

.header__promo-carousel {
  overflow: hidden;
  position: absolute;
  right: 0;
}
.header__promo-carousel::before {
  display: block;
  content: "";
  width: 470px;
  height: 380px;
  position: absolute;
  right: 0;
  background: url(../img/header/header-slider/bg/bg.png) center center no-repeat;
  background-size: cover;
}
@media (max-width: 1150px) {
  .header__promo-carousel::before {
    width: 440px;
    height: 360px;
  }
}
@media (max-width: 980px) {
  .header__promo-carousel::before {
    width: 370px;
    height: 310px;
  }
}
@media (max-width: 790px) {
  .header__promo-carousel {
    width: 100%;
    min-height: 500px;
    top: 350px;
    left: 0;
  }
  .header__promo-carousel::before {
    width: 100%;
    min-height: 500px;
    left: 0;
    bottom: -50px;
  }
}
@media (max-width: 430px) {
  .header__promo-carousel {
    width: 100%;
    min-height: 450px;
    top: 350px;
    left: 0;
  }
  .header__promo-carousel::before {
    width: 100%;
    min-height: 450px;
    left: 0;
    bottom: -40px;
  }
}
@media (max-width: 380px) {
  .header__promo-carousel {
    width: 100%;
    min-height: 410px;
    top: 350px;
    left: 0;
  }
  .header__promo-carousel::before {
    width: 100%;
    min-height: 410px;
    left: 0;
    bottom: -40px;
  }
}

.owl-carousel-header {
  width: 660px;
}
@media (max-width: 980px) {
  .owl-carousel-header {
    width: 500px;
  }
}
@media (max-width: 790px) {
  .owl-carousel-header {
    width: 100%;
  }
}
.owl-carousel-header .header-slide img {
  width: 500px;
}
@media (max-width: 1150px) {
  .owl-carousel-header .header-slide img {
    width: 450px;
  }
}
@media (max-width: 980px) {
  .owl-carousel-header .header-slide img {
    width: 380px;
  }
}
@media (max-width: 790px) {
  .owl-carousel-header .header-slide img {
    width: 90%;
    max-width: 430px;
  }
}
.owl-carousel-header .owl-nav .owl-prev {
  display: none;
}
.owl-carousel-header .owl-nav button.owl-next {
  position: absolute;
  right: 19px;
  bottom: 10px;
  z-index: 9;
  width: 20px;
  height: 17px;
  outline: none;
  background-image: url(../img/header/header-slider/arrow/next.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.owl-carousel-header .owl-nav button.owl-next span {
  display: none;
}
@media (max-width: 790px) {
  .owl-carousel-header .owl-nav button.owl-next {
    bottom: -10px;
    left: 180px;
  }
}
.owl-carousel-header .owl-dots {
  position: absolute;
  right: 75px;
  bottom: 10px;
}
.owl-carousel-header .owl-dots button {
  outline: 0;
  width: 34px;
  height: 5px;
  background: #ffffff80;
}
.owl-carousel-header .owl-dots button.active {
  background: #fff;
}
.owl-carousel-header .owl-dots button:not(:first-child) {
  margin-left: 15px;
}
@media (max-width: 790px) {
  .owl-carousel-header .owl-dots {
    bottom: -10px;
    left: 20px;
  }
}

.header-slide__text {
  width: 190px;
  position: absolute;
  right: 20px;
  bottom: 43px;
  z-index: 9;
  color: #fff;
  font-size: 11px;
}
@media (max-width: 980px) {
  .header-slide__text {
    width: 150px;
    right: 10px;
    bottom: 33px;
    font-size: 10px;
  }
}
@media (max-width: 790px) {
  .header-slide__text {
    position: relative;
    margin-top: 50px;
    left: 20px;
  }
}

.header-slide__text-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
}

.header-slide__text-subtitle {
  margin: 7px 0;
  line-height: 1.4;
}
@media (max-width: 980px) {
  .header-slide__text-subtitle {
    margin: 12px 0;
    line-height: 1.2;
  }
}

.header-slide__text-price {
  font-size: 13px;
}
@media (max-width: 980px) {
  .header-slide__text-price {
    font-size: 12px;
  }
}

.footer {
  background: #121212;
  color: #fff;
  text-decoration: none;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 760px) {
  .footer__nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
  }
}

.footer__logo img {
  width: 170px;
}
@media (max-width: 1190px) {
  .footer__logo img {
    width: 140px;
  }
}
@media (max-width: 760px) {
  .footer__logo img {
    width: 150px;
    margin-left: -20px;
  }
}
@media (max-width: 760px) {
  .footer__logo {
    margin-top: 40px;
  }
}

.footer__nav-link {
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.footer__nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  transition: 0.3s;
}
@media (max-width: 1190px) {
  .footer__nav-link a {
    font-size: 11px;
  }
}
@media (max-width: 760px) {
  .footer__nav-link a {
    font-size: 15px;
  }
}
.footer__nav-link a:not(:first-child) {
  margin-left: 19px;
}
@media (max-width: 1190px) {
  .footer__nav-link a:not(:first-child) {
    margin-left: 10px;
  }
}
@media (max-width: 760px) {
  .footer__nav-link a:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
.footer__nav-link a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
@media (max-width: 760px) {
  .footer__nav-link {
    display: flex;
    flex-direction: column;
  }
}

.footer__telephone {
  display: flex;
  align-items: center;
}
@media (max-width: 760px) {
  .footer__telephone {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.footer__telephone img {
  width: 20px;
  margin-right: 13px;
}
@media (max-width: 1190px) {
  .footer__telephone img {
    width: 14px;
    margin-right: 8px;
  }
}
.footer__telephone .footer__telephone-number {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.05em;
}
@media (max-width: 1190px) {
  .footer__telephone .footer__telephone-number {
    font-size: 11px;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 760px) {
  .footer__telephone .footer__telephone-number {
    font-size: 14px;
  }
}

.feedback {
  position: relative;
  padding-top: 77px;
  padding-bottom: 73px;
  background: #153E65;
  color: #fff;
  overflow: hidden;
}
.feedback img {
  position: absolute;
  right: 0;
  top: 0;
  width: 585px;
}
@media (max-width: 980px) {
  .feedback img {
    opacity: 0.5;
    right: -150px;
    width: 100%;
    max-width: 585px;
  }
}
@media (max-width: 600px) {
  .feedback img {
    display: none;
  }
}
@media (max-width: 600px) {
  .feedback::before {
    content: "";
    width: 160px;
    height: 443px;
    position: absolute;
    bottom: 20px;
    right: 0;
    background-image: url(../../img/feedback/bg-mobile/1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.feedback .feedback__title {
  margin-bottom: 85px;
  font-weight: 900;
  font-size: 33px;
  letter-spacing: 0.05em;
}
@media (max-width: 600px) {
  .feedback .feedback__title {
    font-size: 27px;
  }
}
.feedback form {
  position: relative;
}
.feedback form input {
  outline: 0;
  display: block;
  background: transparent;
  width: 260px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.feedback form input::-webkit-input-placeholder {
  font-family: Montserrat;
  color: #ffff;
  font-weight: normal;
  font-size: 13px;
  line-height: 32px;
}
.feedback form input:first-child {
  margin-bottom: 50px;
}
.feedback form input:nth-child(3) {
  margin-top: 50px;
  padding-bottom: 54px;
  width: 347px;
}
@media (max-width: 600px) {
  .feedback form input:nth-child(3) {
    width: 260px;
    padding-bottom: 14px;
  }
}
.feedback form button {
  cursor: pointer;
  position: absolute;
  bottom: 23px;
  left: 310px;
  width: 25px;
  height: 20px;
  background: transparent;
  background-image: url(../img/feedback/arrow/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  outline: 0;
}
@media (max-width: 600px) {
  .feedback form button {
    background-image: url(../img/feedback/arrow/arrow-mob.svg);
    left: 265px;
    bottom: 10px;
  }
}

.card-product {
  padding-top: 120px;
  padding-bottom: 100px;
}
@media (max-width: 980px) {
  .card-product {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
.card-product .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 620px) {
  .card-product .container {
    flex-direction: column;
  }
}

.card-product__text {
  margin-top: 20px;
}
@media (max-width: 620px) {
  .card-product__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.card-product__text .card-product__text-title {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #2A2D46;
  margin-bottom: 25px;
}
@media (max-width: 980px) {
  .card-product__text .card-product__text-title {
    font-size: 23px;
    max-width: 220px;
  }
}
@media (max-width: 620px) {
  .card-product__text .card-product__text-title {
    display: none;
  }
}
.card-product__text ul {
  list-style: none;
  margin-bottom: 23px;
  width: 180px;
  font-weight: 500;
}
.card-product__text ul li {
  font-size: 13px;
  letter-spacing: 0.05em;
  color: #153E65;
  display: flex;
  justify-content: space-between;
}
.card-product__text ul li p {
  font-weight: 500;
  margin-right: 10px;
}
.card-product__text ul li span {
  font-weight: 100;
  text-align: center;
}
.card-product__text .card-product__text-price {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #2A2D46;
  margin-bottom: 18px;
}
@media (max-width: 620px) {
  .card-product__text .card-product__text-price {
    font-size: 25px;
    font-weight: 600;
  }
}
.card-product__text .card-product__text-button {
  padding: 10px 20px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #941616;
  border: 0;
  outline: 0;
  transition: 0.3s;
  cursor: pointer;
}
.card-product__text .card-product__text-button:hover {
  background: #121212;
}

.card-product__slider {
  width: 600px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .card-product__slider {
    width: 500px;
  }
}
@media (max-width: 760px) {
  .card-product__slider {
    width: 400px;
  }
}
@media (max-width: 640px) {
  .card-product__slider {
    width: 350px;
  }
}
@media (max-width: 620px) {
  .card-product__slider {
    margin-left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 440px) {
  .card-product__slider {
    margin-left: 50%;
    transform: translate(-55%);
  }
}

.card-product__slider-top {
  width: 641px;
  margin-bottom: 20px;
}
.card-product__slider-top .card-product__slider-slide-top {
  max-width: 641px;
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 980px) {
  .card-product__slider-top .card-product__slider-slide-top {
    max-width: 541px;
  }
}
@media (max-width: 760px) {
  .card-product__slider-top .card-product__slider-slide-top {
    max-width: 441px;
  }
}
@media (max-width: 640px) {
  .card-product__slider-top .card-product__slider-slide-top {
    max-width: 391px;
  }
}
@media (max-width: 980px) {
  .card-product__slider-top {
    width: 541px;
  }
}
@media (max-width: 760px) {
  .card-product__slider-top {
    width: 441px;
  }
}
@media (max-width: 640px) {
  .card-product__slider-top {
    width: 391px;
  }
}

.card-product__slider-bottom * {
  outline: 0;
}
.card-product__slider-bottom .slick-list {
  width: auto;
  margin-left: 0;
}
.card-product__slider-bottom .slick-track {
  max-width: 310px;
  border-bottom: 1px solid #121212;
  padding-bottom: 5px;
  display: flex;
}
.card-product__slider-bottom .slick-track::before {
  display: none;
}
.card-product__slider-bottom .slick-track::after {
  display: none;
}
.card-product__slider-bottom .slick-track .slick-slide {
  max-width: 0;
}
.card-product__slider-bottom .slick-track .slick-slide:not(:first-child) {
  margin-left: 100px;
}
.card-product__slider-bottom .slick-track .slick-slide:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 1px;
  height: 30px;
  background: #121212;
}
.card-product__slider-bottom .card-product__slider-slide-bottom {
  margin-left: 10px;
  cursor: pointer;
}
.card-product__slider-bottom .card-product__slider-slide-bottom img {
  width: 80px;
}